<lte-accordion [showOneItem]="true" type="primary">
  <lte-box [withBorder]="false" title="warning" type="warning" icon="user" [ngStyle]="{'margin-bottom':'5px'}">
    <h3>primary-box</h3>
  </lte-box>
  <lte-box [collapsed]="true" [withBorder]="false" title="warning" type="warning" icon="user" [ngStyle]="{'margin-bottom':'5px'}">
    <h3>primary-box</h3>
  </lte-box>
  <lte-box [collapsed]="true" [withBorder]="false" title="warning" type="warning" icon="user" [ngStyle]="{'margin-bottom':'5px'}">
    <h3>primary-box</h3>
  </lte-box>
</lte-accordion>
