<div class="card {{cssClass}}">
  <div class="card-header bg-{{type}}" [ngStyle]="{'color':type === 'default'?'black':'white','cursor':collapsable?'pointer':'inherit'}"
       (click)="onCollapse()">
    <div class="card-title">
      <i class="pull-right fa fa-{{isCollapsed?'minus':'plus'}}-square-o"></i>
      <ng-content select="zp-card-header,zp-accordion-header"></ng-content>
    </div>
  </div>

  <div class="collapse" [ngClass]="{ 'show':!isCollapsed}">
    <div class="card-body">
      <ng-content select="zp-card-body,zp-accordion-body"></ng-content>
    </div>
  </div>
</div>
