<div class="row">
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="primary" type="primary" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="solid" type="solid" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="default" type="default" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="info" type="info" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="success" type="success" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="warning" type="warning" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <lte-box [withBorder]="true" title="danger" type="danger" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [collapse]="true" [withBorder]="true" title="success" type="success" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
  <div class="col-md-4">
    <lte-box [collapse]="true" [withBorder]="false" title="warning" type="warning" icon="user">
      <h3>primary-box</h3>
    </lte-box>
  </div>
</div>
<lte-box title="HTML" type="primary" [withBorder]="true">
  <pre class="language-markup" lteCode>
&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="primary" type="primary" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="solid" type="solid" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="default" type="default" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="info" type="info" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="success" type="success" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="warning" type="warning" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [withBorder]="true" title="danger" type="danger" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [collapse]="true" [withBorder]="true" title="success" type="success" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;lte-box [collapse]="true" [withBorder]="false" title="warning" type="warning" icon="user"&gt;
      &lt;h3&gt;primary-box&lt;/h3&gt;
    &lt;/lte-box&gt;
  &lt;/div&gt;
&lt;/div&gt;
      </pre>
</lte-box>

