<div class="btn-group {{cssClass}}">
  <button  [disabled]="disabled"
          class="btn {{type? 'btn-' + type : ''}} {{btnSize? 'btn-' + btnSize : ''}} dropdown-toggle"
          (mouseleave)="onMouseLeave()" (mouseover)="onMouseOver()" (click)="onMouseClick()">
    <ng-content></ng-content>
  </button>
  <div *ngIf="actions && actions?.length !==0" class="dropdown-menu  show"
       [@buttonState]="isOpen ? 'active':'inactive'">
    <ng-container *ngFor="let item of actions">
      <a *ngIf="!item.divider && ! item.header" [ngClass]="{'disabled': item.disabled}"
         class="dropdown-item" href="#!" (click)="onActionClick(item)">
        <i *ngIf="item.icon" class="{{item.icon}}"></i>&nbsp;{{item.text}}
      </a>
      <a *ngIf="item.header" class="dropdown-item dropdown-header" href="#!">{{item.text}}</a>
      <ng-container *ngIf="item.header">
        <div class="dropdown-divider"></div>
      </ng-container>
    </ng-container>
  </div>
</div>
