<h4 class="header">基础使用</h4>
<lte-tab>
  <lte-tab-item id="1" title="tab1" content="tab1"></lte-tab-item>
  <lte-tab-item id="2" title="tab2" content="tab2"></lte-tab-item>
  <lte-tab-item id="3" title="HTML">
    <ng-template lteTabContent>
                <pre class="language-markup" lteCode>
&lt;h4 class="header"&gt;基础使用&lt;/h4&gt;
&lt;lte-tab&gt;
  &lt;lte-tab-item id="1" title="tab1" content="tab1"&gt;&lt;/lte-tab-item&gt;
  &lt;lte-tab-item id="2" title="tab2" content="tab2"&gt;&lt;/lte-tab-item&gt;
  &lt;lte-tab-item id="3" title="HTML"&gt;
    &lt;ng-template *lteTabContent=""&gt;
                &lt;pre class="language-markup" lteCode&gt;
                &lt;/pre&gt;
    &lt;/ng-template&gt;
  &lt;/lte-tab-item&gt;
&lt;/lte-tab&gt;
                </pre>
    </ng-template>
  </lte-tab-item>
</lte-tab>
<h4 class="header">进阶使用</h4>
<lte-tab>
  <lte-tab-item id="4">
    <ng-template lteTabTitle>
      <i class="fa fa-th"></i>
      一首诗
    </ng-template>
    <ng-template lteTabContent>
      How to use:
      Exactly like the original bootstrap tabs except you should use the custom wrapper .nav-tabs-custom
      to achieve this
      style.
      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy
      with my whole heart. I am alone, and feel the charm of existence in this spot, which was created forthe bliss of
      souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
      that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel
      that I never was a greater artist than now.
    </ng-template>
  </lte-tab-item>
  <lte-tab-item id="6">
    <ng-template lteTabTitle>
      <i class="fa fa-th"></i>
      HTML
    </ng-template>
    <ng-template lteTabContent>
      <pre class="language-markup" lteCode>
&lt;h4 class="header"&gt;进阶使用&lt;/h4&gt;
&lt;lte-tab&gt;
  &lt;lte-tab-item id="4"&gt;
    &lt;ng-template lteTabTitle&gt;
      &lt;i class="fa fa-th"&gt;&lt;/i&gt;
      一首诗
    &lt;/ng-template&gt;
    &lt;ng-template lteTabContent&gt;
      How to use:
      Exactly like the original bootstrap tabs except you should use the custom wrapper
        .nav-tabs-custom to achieve this style.
      A wonderful serenity has taken possession of my entire soul, like these sweet mornings
        of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence
        in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend,
        so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
        I should be incapable of drawing a single stroke at the present moment;
        and yet I feel that I never was a greater artist than now.
    &lt;/ng-template&gt;
  &lt;/lte-tab-item&gt;
  &lt;lte-tab-item id="5"&gt;&lt;/lte-tab-item&gt;
  &lt;lte-tab-item id="6"&gt;
    &lt;ng-template lteTabTitle&gt;
      &lt;i class="fa fa-th"&gt;&lt;/i&gt;
      HTML
    &lt;/ng-template&gt;
    &lt;ng-template lteTabContent&gt;
      How to use:
      Exactly like the original bootstrap tabs except you should use the custom wrapper .nav-tabs-custom to achieve this style.
      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
    &lt;/ng-template&gt;
  &lt;/lte-tab-item&gt;
&lt;/lte-tab&gt;
      </pre>
    </ng-template>
  </lte-tab-item>
</lte-tab>

